@charset "utf-8"
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
.logo {
	padding: 0;
}

#myCarousel {
	margin: 50px 0 0 0;
}

#navbar-collapse ul {
	margin-top: 0;
}

.carousel-inner img {
	margin: 0 auto;
}
/*.carousel-control {
	font-size:100px;

}*/

.tab-h2 {
	font-size:30px;
	text-align: center;
	letter-spacing: 1px;
	color: #0059b2;
}

.tab-p {
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	color: #999;
	margin: 20px 0 40px 0;
}

.tab1 {
	margin: 30px;
	color: #666;
}

.tab1 .text-muted {
	color: #158;
	text-decoration: line-through;
}

.tab1 .media-heading {
	margin: 5px 0px 20px 0px;
}

.tab1 .col {
	padding: 20px;
}